@font-face {
    font-family: "inter";
    src: url("../../assets/fonts/Inter-SemiBold.ttf");
}

.content-wrapper{
width: 100%;
}
.left-content{
width: 50%;
float: left;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.right-content{
width: 50%;
float: right;
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.routes{
    width: 40%;
    height: 60%;
    padding: 10px;
    top:170px;
    left: 210px;
    position:absolute;
}

img.route-block{
    font-family: "inter";
    font-weight: 800;
    border-radius: 10px;
    display: block;
    margin: 3px;
}

.r-user-location{
    font-size: 40px;
    font-family: "inter";
    font-weight: 800;
    position: absolute;
    top:125px
}
.r-content_text{
    font-size: 20px;
    font-family: "inter";
    font-weight: 500;
    position: absolute;
    top:80px
}
.r-sub_content_text{
    font-size: 15px;
    font-family: "inter";
    color: #7B7B7B;
    position: absolute;
    top:105px
}

.info-box_grey{
    background-color: #DFDFDF;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
}
.info-box{
    margin-top: 30px;
    width: 70%;
}
.info-box-right{
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 40%;
    float: right;
}
.info-box-center{
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    /* text-align: center; */
    width: 100%;
    float: left;
}

.info-box-right-l{
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 40%;
    float: right;
}
.info-box-left-l{
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 40%;
    float: left;
}

ul {
    text-decoration: none;
    font-family: inter;
}